extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre noostros", class="img-fluid")
            .col-md-7
                h1 #{pagina}  
                blockquote A contar del 11 de enero de 2022 , la ley entrega la responsabilidad a los progenitores de establecer el orden de los apellidos de su primogénito el cual se extenderá a los hijos en común que inscriban con posterioridad, eligiendo si va primero el apellido paterno o materno.
                p Al momento de la inscripción de nacimiento es obligación presentar el Formulario de Acuerdo firmado (C-9) por ambos progenitores que determine el orden de apellidos elegido.
                p Si el formulario no viene firmado por ambos progenitores, la ley dispone que el orden de los apellidos del inscrito, se establecerá mediante un sorteo que se deberá efectuar ante el oficial civil, en este caso, por medio de una moneda. Si no presenta el formulario no podrá llevar a cabo la inscripción.
        
        .listado-iconos     
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg", alt="icono Seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Al momento de la inscripción de nacimiento es obligación presentar el Formulario de Acuerdo firmado (C-9) por ambos progenitores que determine el orden de apellidos elegido.

                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                        h2.mb-4 Destinos 
                        p Al momento de la inscripción de nacimiento es obligación presentar el Formulario de Acuerdo firmado (C-9) por ambos progenitores que determine el orden de apellidos elegido.

                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                        h2.mb-4 Precios 
                        p Al momento de la inscripción de nacimiento es obligación presentar el Formulario de Acuerdo firmado (C-9) por ambos progenitores que determine el orden de apellidos elegido.
